.header {
  width: 100%;
  /* position: relative; */
}

.ul {
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  list-style: none;
  padding: 40px 100px;
  margin-right: 25px;
  position: fixed;
}

/* Add this CSS to remove the underline from anchor tags */
.ul a {
  /* text-decoration: none; */
  text-decoration: none;
}

.list {
  border-bottom: none;
  transition: 4s;
}

.list:hover {
  border-bottom: 1px solid black;
}
