@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 350;
  font-size: 1rem;
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* font-family: "Kumbh Sans", sans-serif; */
  font-weight: 200;
}
